<PhxConditionalSlotsExample.Components.table rows={[%{name: "John", address: "Somewhere"}, %{name: "Jane", address: "Some place"}]}>
  <%= if true do %>
    <:col let={user} label="Address">
      <%= user.address %>
    </:col>
  <% end %>
</PhxConditionalSlotsExample.Components.table>
